body {
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkred;
  margin: 0;
  border: none;
  padding: 35px;
  text-align: center;
  font-size: 40px;
  color: white;
}

.doors {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

p,
a {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

img {
  padding: 2%;
}

#door1b {
  border: 2px solid red;
}

a {
  padding-bottom: 10px;
}
